/Nueva Carpeta/Miprimeraplicacion/nbproject/private/
/Nueva Carpeta/Miprimeraplicacion/build/
/Nueva Carpeta/JavaApplication4/nbproject/private/
/Clase2/Clase2Java/nbproject/private/
/Clase2/Clase2Java/build/